@font-face {
    font-family: IranSansBlock;
    src: url("../_fonts/Iranian_Sans/Iranian_Sans.ttf");
}
body{
    text-align: right;
    background:#f6f9fb;
    font-family: IranSansBlock;
    background-image: url("../_images/bg.svg");
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none !important;
}
.registerForm{
    box-shadow: 0 0 15px 0px #000;
    border-radius: 5px;
    background:#fff;
}

li{
    list-style-type: none   ;
}


/* header */
.my_header{
    background: url("../_images/bg1.jpg") no-repeat;
    background-size: cover;
    min-height: 100vh;
    position:relative;
    overflow: hidden;    
    box-shadow: 0 0 2px 2px #000;
}
.cover{
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 150vh;
    min-height: 100%;
}
.my_header img{
    width: 100%;
}
.content-search{
    background: #fff;
    border-radius: 18px;
    text-align: left;
}
.content-search #search{
    width: 90%;
    outline: none;
    border: none;
}
.content-search i{
    transition: 0.4s linear all;
    cursor: pointer;
}
.content-search i:hover {
    color: cyan;
}

.subscription{
    margin: 45px;
}
.subscription i {
    font-size: 40px;
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-arror-icon-to-down svg{
    margin-top: 5px;
    width: 3em;
    height: auto;
    animation : arrowBtnBottom 1s linear infinite;
    cursor: pointer;
}
@keyframes arrowBtnBottom{
    0%{
        transform: translateY(-15px) !important;
        opacity: 1;
    }
    50%{
        transform: translateY(15px) !important;
        opacity: 1;
    }
    100%{
        transform: translateY(15px);
        opacity: 0.2;
    }
}
/* end header */
ul.nav_item_custom{
    list-style-type: none;
    text-align: right;
    position: relative;
    right: 84px;
    top: 5px;
}

.nav_item_custom li{
    font-size: 20px;
}

.nav_item_custom li a{
    color : #fff
}

ul.nav_items_custom{
    list-style-type: none;
    position: relative;
    right: 30px;
    top: 5px;
    width: 20em;
}

.nav_items_custom li {
    display: inline;
    margin-left: 10px;
    font-size: 18px;

}
.nav_items_custom li a{
    text-decoration: none;
    color:#fff;
    transition : 0.4s
}

.nav_items_custom li:hover a , .nav_item_custom li:hover a{
    color : cyan
}


/* *************
nav for small clients 
************ */

.my_nav2{
    height: 100%;
    background-color: #343a40;
    width: 300px !important;
    position: fixed;
    top: 0;
    z-index: 9999999999999;
    margin-right: -300px;
    transition : 0.7s linear all
}
.show_nav{
    margin-right : 0
}
.navButton{
    position: absolute;
    top: 50%;
    right: 100%;
    background: #343a40;
    font-size: 18px;
    color: #fff;
    display: flex;
    padding: 4px;
}
.nav_header .user_img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #9a9a9a;
    position: relative;
    overflow: hidden;    
    box-shadow: 0 0px 1px 0px #9a9a9a;
    margin: auto;
}
.nav_header .user_img img{
    position: absolute;
}
.user_name{
    margin-top: 4px;
    text-align: center;
    padding: 3px;
    background: #414748 ;
}

.list_item{
    padding-left: 7px;
}
.list_item li{
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border-bottom: 1px solid aqua;
    padding-right: 3px;
    padding-bottom: 3px;
}
.list_item li a{
    color: #fff;
    transition : 0.4s linear all;
}

.list_item li:hover a{
    color: cyan;
}


/* zpSlider */
.slider_arrow{
    opacity: 0.5 !important;
    transition : 0.4s linear all
}
.slider_arrow:hover{
    opacity: 1 !important;
}

/* news slider */
.image_news{
    overflow: hidden;
    cursor: pointer;
    width: 280px;
    height: 240px;
}
.image_news img{
    transition : 0.6s all linear
}
.news_content:hover img {
    transform: scale(1.1);
}
.news-content-title{
    font-size: 23px;
    border-bottom: 2px solid #000;
    padding: 2px;
    margin-left: 45px;
    margin-bottom: 21px;
}

.news-content-body{
    padding-right: 10px;
}

.news-content-footer{
    position: absolute;
    left: 20%;
    top: 75%;    
    width: 100px;
    height: 49px;
}

/* news slider for small client */
.news_content_small_client img {
    transition : 0.6s all linear
}

.news_content_small_client:hover img {
    transform: scale(1.1);
}

/* info */

.info ul li{
    list-style-type: circle;
    margin-right: 10px;
}

/* social icons */
.social-icons a{
    color : #000
}
.social-icons li i{
    font-size:35px;
    color:#000;
    transition : 0.2s linear all
}
.social-icons li i:nth-child(3n-2){
    margin-right: -1px;
}
.social-icons li i:last-child{
    margin-right: -2px;
}
.social-icons li span{
    vertical-align: 7px;
    font-size:18px;
    margin-right:24px !important;
}

.social-icons li.instagram:hover i{
    color : red
}
.social-icons li.facebook:hover i{
    color : blue
}
.social-icons li.telegram:hover i{
    color : cyan
}