{% extends "parent/main.html" %}
{% load static %}

{% block title %} Bestoon|Dashboard{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/slider/css/zpSlider.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'plugin/slider/zpSlider.js' %}"></script>
{% endblock %}

{% block styles %}
    <style>
        label{
            padding-right: 3px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5 mt-4">
                <div class="content p-3 rounded shadow-sm" style="background-color : #fff">
                    <div class="content-header bg-info p-3 text-center text-white rounded">
                        افزودن عنوان جدید به دخل
                    </div>
                    <div class="content-body mt-2">
                        <form method="POST">
                            {% csrf_token %}

                            <label for="this_text">عنوان</label>
                            <input type="text" required class="form-control" name="text" id="this_text" placeholder="عنوان مورد نظر خود را وارد نمایید">

                            <label for="this_money">مقدار</label>
                            <input type="number" required class="form-control" name="amount" id="this_money" placeholder="مقدار پول اضافه شده (به تومان)">

                            <label for="this_date">تاریخ</label>
                            <input  class="form-control" required type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="this_date" placeholder="برای وارد کردن تاریخ کلیک کنید">

                            <input type="hidden" name="income" id="incomeSend" value="1">

                            <div class="this_submit_btn p-3 mt-2 text-center">
                                <input type="submit" class="btn btn-outline-dark px-5" value="ثبت">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 mt-4">
                <div class="content p-3 rounded shadow-sm" style="background-color : #fff">
                    <div class="content-header bg-info p-3 text-center text-white rounded">
                        افزودن عنوان جدید به خرج
                    </div>
                    <div class="content-body mt-2" id="ExponseForm">
                        <form method="POST">
                            {% csrf_token %}

                            <label for="this_text2">عنوان</label>
                            <input type="text" required class="form-control" name="text" id="this_text2" placeholder="عنوان مورد نظر خود را وارد نمایید">

                            <label for="this_money2">مقدار</label>
                            <input type="number" required class="form-control" name="amount" id="this_money2" placeholder="مقدار پول خرج شده (به تومان)">

                            <label for="this_date2">تاریخ</label>
                            <input  class="form-control" required type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="this_date2" placeholder="برای وارد کردن تاریخ کلیک کنید">

                            <input type="hidden" name="expense" id="expenseSend" value="2">

                            <div class="this_submit_btn p-3 mt-2 text-center">
                                <input type="submit" class="btn btn-outline-dark px-5" value="ثبت">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
    <br><br>
{% endblock %}