{% extends "parent/main.html" %}
{% load static %}

{% block title %} Bestoon|Dashboard{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/slider/css/zpSlider.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'plugin/slider/zpSlider.js' %}"></script>
{% endblock %}

{% block styles %}
    <style>
        label{
            padding-right: 3px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    {% if first_login %}
                        <div class="alert alert-info this_close">
                            <a href="#" class="close">&times;</a>
                            <p class="p-1 first_login">
                                {{ user.username }} به پنل کاربری خوش آمدی
    از الان دیگه میتونی دخل و خرج خودتو یادداشت کنی و هر زمان که بخوای بهشون دسترسی داشته باشی
    برای وارد کردن درآمد از فرم سبز استفاده کن و برای خرج هات از فرم نارنجی مطمعنم که از پسش بر میای :)
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5 mt-4">
                <div class="content p-3 rounded shadow-sm" style="background-color : #fff">
                    <div class="content-header bg-info p-3 text-center text-white rounded">
                        افزودن عنوان جدید به دخل
                    </div>
                    <div class="content-body mt-2">
                        <form method="POST">
                            {% csrf_token %}

                            <label for="this_text">عنوان</label>
                            <input type="text" required class="form-control" name="text" id="this_text" placeholder="عنوان مورد نظر خود را وارد نمایید">

                            <label for="this_money">مقدار</label>
                            <input type="number" required class="form-control" name="amount" id="this_money" placeholder="مقدار پول اضافه شده (به تومان)">

                            <label for="this_date">تاریخ</label>
                            <input  class="form-control" required type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="this_date" placeholder="برای وارد کردن تاریخ کلیک کنید">

                            <input type="hidden" name="income" id="incomeSend" value="1">

                            <div class="this_submit_btn p-3 mt-2 text-center">
                                <input type="submit" class="btn btn-outline-dark px-5" value="ثبت">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5 mt-4">
                <div class="content p-3 rounded shadow-sm" style="background-color : #fff">
                    <div class="content-header bg-info p-3 text-center text-white rounded">
                        افزودن عنوان جدید به خرج
                    </div>
                    <div class="content-body mt-2" id="ExponseForm">
                        <form method="POST">
                            {% csrf_token %}

                            <label for="this_text2">عنوان</label>
                            <input type="text" required class="form-control" name="text" id="this_text2" placeholder="عنوان مورد نظر خود را وارد نمایید">

                            <label for="this_money2">مقدار</label>
                            <input type="number" required class="form-control" name="amount" id="this_money2" placeholder="مقدار پول خرج شده (به تومان)">

                            <label for="this_date2">تاریخ</label>
                            <input  class="form-control" required type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="this_date2" placeholder="برای وارد کردن تاریخ کلیک کنید">

                            <input type="hidden" name="expense" id="expenseSend" value="2">

                            <div class="this_submit_btn p-3 mt-2 text-center">
                                <input type="submit" class="btn btn-outline-dark px-5" value="ثبت">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9 col-xl-8 order-lg-1">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 mt-2 mt-lg-0">
                            <div class="zpSlider rounded shadow-lg" id="slider1" style="height: 385px">
                                <ul>
                                  {% for item in slider %}
                                    <li title="{{ item.caption }}">
                                        <a href="#"><img src="/{{ item.image }}" alt="slide{{ item.id }}" ></a>
                                    </li>
                                  {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 mt-3 d-none d-md-block ">
                            <div class="news shadow-sm " >
                                <div class="news_content rounded carousel slide carousel-fade" data-ride="carousel" data-interval="10000" style="background-color:#daffff">
                                    {% if news %}
                                        <div class="carousel-inner rounded-right">
                                            {% for item in news %}
                                                <div class="carousel-item text-right for_get_first">
                                                    <div class="container p-0">
                                                        <div class="row">
                                                            <div class="col-5">
                                                                <div class="image_news">
                                                                    <img src="/{{ item.image }}" alt="slider{{ item.id }}"width="280px" height="240px ">
                                                                </div>
                                                            </div>
                                                            <div class="col-7">
                                                                <div class="news-content-title text-center">
                                                                    {{ item.title }}
                                                                </div>
                                                                <div class="news-content-body">
                                                                    {{ item.description }}
                                                                </div>
                                                                <div class="news-content-footer">
                                                                    <a href="#">
                                                                        <button class="btn btn-outline-dark" style="width: 120px;height: 50px;">
                                                                            ادامه...
                                                                        </button>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3 d-block d-md-none">
                            <div class="news_content_small_client rounded carousel slide carousel-fade" data-ride="carousel" data-interval="10000">
                                {% if news %}
                                    <div class="carousel-inner rounded-right">
                                        {% for item in news %}
                                            <div class="carousel-item  text-right for_get_first_small">
                                                <div class="container p-0" style="background-color:#daffff">
                                                    <div class="row justify-content-center text-center">
                                                        <div class="col-12">
                                                            <div class="image_small_news">
                                                                <img src="/{{ item.image }}" alt="slider{{ item.id }}"width="100%" height="300px">
                                                            </div>
                                                        </div>
                                                        <div class="col-12 p-3">
                                                            <div class="news-content-small-title text-center p-1 mx-3" style="border-bottom:2px solid #000000">
                                                                {{ item.title }}
                                                            </div>
                                                            <div class="news-content-small-body p-2 mb-1">
                                                                {{ item.description }}
                                                            </div>
                                                            <div class="news-content-small-footer">
                                                                <a href="#">
                                                                    <button class="btn btn-outline-dark" style="width: 120px;height: 50px;">
                                                                        ادامه...
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-6 col-lg-12 mt-4 mt-lg-0 pl-0">
                            <div class="sidBar shodow-lg">
                                <div class="incomeSet bg-warning">
                                    <div class="content_header">
                                        <br><br>
                                    </div>
                                    <div class="content_body">
                                        <br><br>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="col-6 col-lg-12 mt-4 pl-0">
                            <div class="sidBar shodow-lg">
                                <div class="expenseSet bg-warning">
                                    <div class="content_header">
                                        <br><br>
                                    </div>
                                    <div class="content_body">
                                        <br><br>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="col-7 col-lg-12 mt-4 pl-0">
                            <div class="sidBar shodow-lg">
                                <div class="statusCheck bg-warning">
                                    <div class="content_header">
                                        <br><br>
                                    </div>
                                    <div class="content_body">
                                        <br><br>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}