{% extends "parent/main.html" %}
{% load static %}

{% block title %}my status{% endblock %}

{% block styles %}
    <style>
        table, tr, td{
            padding : 10px;
        }
        table{
            text-align: center;
            caption-side: above;
        }
        td.date{
            direction: ltr;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row justify-content-center mb-2 text-center">
            <div class="col-6 col-md-12">
                <nav class="nav nav-tabs justify-content-center" style="border-bottom:none">
                    <div class="for_border" style="border-bottom:1px solid #ddd; width:250px"></div>
                    <a class="nav-link active section1" data-toggle="tab">درآمد</a>
                    <a class="nav-link section2" data-toggle="tab">مخارج</a>
                    <div class="for_border" style="border-bottom:1px solid #ddd; width:250px"></div>
                </nav>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="tab-content bg-white shodow-sm rounded p-3">
                    <div class="tab-pane fade active show" id="section1">
                        <table class="table table-bordered table-responsive-sm table-striped table-hover">
                            <tr>
                                <td>حذف</td>
                                <td>ویرایش</td>
                                <td>تاریخ</td>
                                <td>مقدار درآمد</td>
                                <td>نام</td>
                                <td>شماره</td>
                            </tr>
                            {% for item in income_field %}
                                <tr>
                                    <td class="trash" data-toggle="modal"  data-target=".myTrashModal" name="button">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </td>
                                    <td hidden >{{ item.id }}</td>
                                    <td hidden>enD</td>
                                    <td hidden>enU</td>
                                    <td class="edit" data-toggle="modal"  data-target=".myEditModal" name="button">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </td>
                                    <td class="date">{{ item.date }}</td>
                                    <td>{{ item.amount }}</td>
                                    <td>{{ item.text }}</td>
                                    <td class="number"></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br>
                        <table class="table table-bordered table-responsive-sm table-striped table-hover">
                            <tr>
                                <td>تاریخ امروز</td>
                                <td>جمع درآمد</td>
                                <td>تعداد</td>
                            </tr>
                            <tr>
                                <td class="date">{{ now }}</td>  
                                <td>{{ total_income }}</td>
                                <td>{{ expense_count }}</td>
                            </tr>
                        </table>
                    </div>  
                    <div class="tab-pane fade" id="section2">
                        <table class="table table-bordered table-responsive-sm table-striped table-hover">
                            <tr>
                                <td>حذف</td>
                                <td>ویرایش</td>
                                <td>تاریخ</td>
                                <td>مقدار خرج شده</td>
                                <td>نام</td>
                                <td>شماره</td>
                            </tr>
                            {% if expense_field %}
                                {% for item in expense_field %}
                                    <tr>
                                        <td class="trash" data-toggle="modal"  data-target=".myTrashModal" name="button">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i> 
                                        </td>            
                                        <td hidden>{{ item.id }}</td>  
                                        <td hidden>exD</td> 
                                        <td hidden>exU</td>                      
                                        <td class="edit" data-toggle="modal"  data-target=".myEditModal" name="button">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </td>
                                        <td class="date">{{ item.date }}</td>
                                        <td >{{ item.amount }}</td>
                                        <td class="text">{{ item.text }}</td>
                                        <td class="number2"></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>
                        <br>
                        <table class="table table-bordered table-responsive-sm table-striped table-hover">
                            <tr>
                                <td>تاریخ امروز</td>
                                <td>جمع مخارج</td>
                                <td>تعداد</td>
                            </tr>
                            <tr>
                                <td class="date">{{ now }}</td>  
                                <td>{{ total_expense }}</td>
                                <td>{{ expense_count }}</td>
                            </tr>
                        </table>
                    </div>    
                    <div class="modal fade myTrashModal" id="myTrashModal">
                        <div class="modal-dialog modal-sm modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header bg-info d-flex ">
                              <span type="button" class="btn close" data-dismiss="modal" name="button">
                                <span>&times;</span>
                              </span>
                              <div class="modal-title text-center" style="position: absolute;left: 35%;">
                                <span class="text-white">حذف این مورد ؟</span>
                              </div>
                            </div>
                            <div class="modal-body text-center">
                                <form method="POST">
                                    {% csrf_token %}                                        
                                    <input type="text" hidden class="fieldId" value="0" name = "this_id">
                                    <input type="text" hidden class="kind" value="0" name = "kind_of_field">
                                    <button type="submit" class="btn btn-outline-success ml-3">تایید</button>
                                    <button class="btn btn-outline-danger" data-dismiss="modal" name="button">لغو</button>
                                    <script>
                                        $(".trash").on("click", function(){
                                            let id = $(this).next("td").html()
                                            let kind = $(this).next("td").next("td").html()
                                            $(".fieldId").val(id)
                                            $(".kind").val(kind)
                                        })
                                    </script>
                                </form>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="modal fade myEditModal" id="myEditModal">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header bg-info d-flex ">
                              <span type="button" class="btn close" data-dismiss="modal" name="button">
                                <span>&times;</span>
                              </span>
                              <div class="modal-title text-center"">
                                <span class="text-white" style="position: absolute;left: 40%">ویرایش</span>
                              </div>
                            </div>
                            <div class="modal-body text-center">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <label for="#this_titr" class="btn btn-info">تیتر</label>
                                        <input type="text" name="this_titr" class="form-control" value="title" id="this_titr">
                                    </div> 
                                    <div class="input-group">
                                        <label for="#this_toman" class="btn btn-info">مقدار</label>
                                        <input type="number" name="this_toman" class="form-control" value="0" id="this_toman">
                                    </div>    
                                    <!-- <div class="input-group">
                                        <label for="#this_date" class="btn btn-info">تاریخ</label>
                                        <input type="text" name="date" onclick="(this.type = 'date')" onblur="(this.type = 'text')" class="form-control" value="money" id="this_date">
                                    </div>         -->

                                    <input type="text" hidden class="fieldId" value="0" name = "this_id">
                                    <input type="text" hidden class="kind" value="0" name = "kind_of_field">
                                    <div class="input-group mt-2 mr-3  justify-content-center">
                                        <button type="submit" class="btn btn-outline-success ml-3">ثبت</button>
                                        <button class="btn btn-outline-danger" data-dismiss="modal" name="button">لغو</button>
                                    </div>
                                    <script>
                                        $(".edit").on("click", function(){
                                            let this_id = $(this).prev().prev().prev().html()
                                            let this_kind = $(this).prev().html()
                                            let date = $(this).next().html()
                                            let this_toman = $(this).next().next().html()
                                            let this_titr = $(this).next().next().next().html()

                                            $(".fieldId").val(this_id)
                                            $(".kind").val(this_kind)
                                            $("#this_titr").val(this_titr)
                                            $("#this_toman").val(this_toman)
                                            $("#this_date").val(date)
                                        })
                                    </script>
                                </form>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3 mb-3">
            <div class="col-8 text-center">
                <a href="{% url 'web:dashboard' %}"><button class="btn btn-outline-info">افزودن عنوان جدید</button></a>
            </div>
        </div>
    </div>    
    <script>
        $(".section1").on("click", function(){
            $(".tab-pane").each(function(){
                $(this).removeClass("active")
            })
            $("#section1").addClass("active")
        })
        
        $(".section2").on("click", function(){
            $(".tab-pane").each(function(){
                $(this).removeClass("active")
            })
            $("#section2").addClass("active show")
        })

        let count = 0
        $(".number").each(function(){
            count += 1
            $(this).html(count)
        })

        let count2 = 0
        $(".number2").each(function(){
            count2 += 1
            $(this).html(count2)
        })

    </script>
{% endblock %}